{% extends 'base.html' %} {%block content%} {% if current_user.is_authenticated %}

<div class="container">
    <br><br> {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sulje"></button>
    </div>
    {% endfor %}
    <br><br>
    <h1>Add Blog Post...</h1>
    <form method="POST">
        {{ form.hidden_tag() }} {{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }}
        <br/> {{ form.author.label(class="form-label") }} {{ form.author(class="form-control") }}
        <br/> {{ form.slug.label(class="form-label") }} {{ form.slug(class="form-control") }}
        <br/> {{ form.content.label(class="form-label") }} {{ form.content(class="form-control", rows="5") }}
        <br/> {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% else %}
<p>Valitettavasti sinun pitää olla kirjautuneena nähdäksesi tätä sivua!</p>

<a href="{{ url_for('logout') }}"><button type="submit" class="btn btn-outline-primary me-2">Kirjaudu ulos</button></a> {% endif %} {% endblock %}