    {% extends 'base.html' %}

    {%block content%}



    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Naapurit on oma naapurisi sosiaalinen verkosto.</h2>
                <p class="lead">Naapurit on oma naapurisi sosiaalinen verkosto. Tämä on tilasi ajatusten ja ehdotusten vaihtoon. Tarjoamme monikerroksisen talon palvelujen kätevän käytön.
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.shutterstock.com/image-vector/people-looking-out-windows-set-600w-1511586977.jpg" alt="">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Naapurit on oma naapurisi sosiaalinen verkosto. Tämä on tilasi ajatusten ja ehdotusten vaihtoon. Tarjoamme monikerroksisen talon palvelujen kätevän käytön.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.shutterstock.com/image-vector/people-open-window-spaces-home-600w-1910757988.jpg" alt="">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Naapurit on oma naapurisi sosiaalinen verkosto. Tämä on tilasi ajatusten ja ehdotusten vaihtoon. Tarjoamme monikerroksisen talon palvelujen kätevän käytön.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.shutterstock.com/image-vector/people-facade-building-windows-vector-600w-1790196941.jpg" alt="">
            </div>
        </div>
    </div>
   
    {% endblock %}
