
{% extends 'base.html' %} 

{%block content%}


<main>

  <section class="py-2 text-center container">
    <div class="row py-lg-1">
      <div class="col-lg-6 col-md-3 mx-auto">
        <h1 class="fw-light">Kerrostalon uutiset</h1>
        <p class="lead text-muted">Tästä voit löyttää meidan kerrostallon uutiset.</p>
        <a href="{{ url_for('add_news') }}"><button type="submit" class="btn btn-outline-primary ">Lisää uutisia</button></a>
      </div>
    </div>
  </section>

  <div class="container">
      
    <br><br> {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sulje"></button>
    </div>
    {% endfor %}
   
    <div class="row row-cols-2 row-cols-md-3 g-2 g-lg-3 overflow-hidden">
      {% for new in news %}
      <div class="card mb-6 g-2"style="max-width: 540px; max-height: 300px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{new.title}}</h5>
              <p class="card-text">{{new.content}}</p>
              <p class="card-text"><small class="text-muted">{{new.date_posted}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
