{% extends 'base.html' %} 

{% block content %}


<div class="container sm mx-auto">
    <div class="signup">
        <form method="POST" action="/signup">
            {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} {{ form.name (class="form-control")}}
            <br> {{ form.username.label(class="form-label") }} {{ form.username (class="form-control")}}
            <br> {{ form.email.label (class="form-label")}} {{ form.email (class="form-control")}}
            <br> {{ form.password_hash.label(class="form-label") }} {{ form.password_hash(class="form-control")}}
            <br> {{ form.confirm.label (class="form-label")}} {{ form.confirm(class="form-control")}}
            <br> {{ form.submit(class="btn btn-primary")}}
            <br>

        </form>
        <br><br> {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <br><br>

        <br>
    </div>
</div>

{% endblock %}